## DB connection settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbname
DB_USER=postgres
DB_PASSWORD=postgres

# aws settings
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_ENDPOINT_URL=http://localhost:4566

# bitbucket settings
BITBUCKET_TOKEN=ATOKENHERE
BITBUCKET_USER=an_email@gmail.com

# telegram settings
TELEGRAM_BOT_TOKEN=8512788696:dasdadasdsadasdadasdada
# comma-separated list of chat IDs
TELEGRAM_CHAT_IDS=123456789

# openai settings
OPENAI_API_KEY=sk-proj-dafafojnjfjahsfASDADADSAd
OPENAI_MODEL=gpt-5.4-mini

# loki settings
LOKI_URL=http://localhost:3100/loki/api/v1/query_range

# Application settings
GIT_REPOS_PATH=/path/to/git/repos
## for custom skills scripts directory, leave empty to use default
SKILLS_SCRIPTS_DIR=/path/to/skills/scripts